.calendar-header {
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  position: relative;
  width: 100%;
}
.calendar-header-add {
  bottom: 0;
  box-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0, 0.25);
  font-weight: bold;
  height: 2rem;
  left: 0;
  position: absolute;
  width: 2rem;
}
.calendar-header-label {
  display: inline-flex;
  font-weight: 500;
  justify-content: center;
  text-transform: uppercase;
}
.calendar-event {
  border-radius: 0.25rem;
  box-shadow: 0.1rem 0.1rem 1rem rgb(0, 0, 0, 0.25);
  color: #fff;
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0.75rem;
  text-align: start;
  z-index: 1;
}
.calendar-event-label {
  font-weight: 500;
  line-height: 0.9rem;
}